@import url(../../../index.css);

.nav {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px -20px;
  z-index: 12;
}
.brand{
  font-weight: 600;
  color: var(--cl-primary);
}
.toggler_btn:focus,
.toggler_btn{
  outline: none;
  border: none;
  box-shadow: unset;
}
.drop_down{
  min-width: 10rem;
}
.profile{
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1/1;
  border: 2px solid white;
}
.links{
  color: var(--cl-primary);
  text-decoration: none;
  margin-inline: 0.5rem;
}
.auth_btn{
  text-decoration: none;
}
.btn_login{
  color: white;
  background-color: var(--cl-primary);
}
.btn_signup{
  color: white;
  border: 1px solid white;
}

