@import url(../../../index.css);
/* .head{
    font-family: "work-sans";
    font-weight: 400;
} */
.nav {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  z-index: 12;
}
.toggler_btn:focus,
.toggler_btn{
  outline: none;
  border: none;
  box-shadow: unset;
}