@font-face {
  font-family: "familjen-grotesk";
  src: url("assets/fonts/FamiljenGrotesk.woff2")
    format("woff2-variations");
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: "familjen-grotesk-italic";
  src: url("assets/fonts/FamiljenGrotesk-Italic.woff2")
    format("woff2-variations");
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: "work-sans";
  src: url("assets/fonts/WorkSans.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-size: 18px;

  --cl-primary: #1B3264;
  --cl-primary-light: #1b32647d;

  --cl-secondary: #FFB902;
  /* --cl-secondary-light: #fe8f75; */
  
  --cl-third: #FD4344;

  --bg-dark: #021a31;
  /* --bg-gradient: linear-gradient(30deg, rgb(43, 93, 233), #cc00ff); */
}

/* :root {
  --cl-primary: #2e3e79;
  --cl-primary-light: #5263a0;
  --cl-head-btn: #e5edfc;
  --cl-secondary: #f16545;
  --cl-secondary-light: #fe8f75;
  --cl-third: #ffc93c;
  --cl-bg: linear-gradient(#f7faff, #e5edfc);
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: "work-sans";
  font-weight: 400;
  /* color: var(--cl-primary) !important; */
}
html,
body {
  position: relative;
  min-height: 100vh;
}

.cl-primary{
  color: var(--cl-primary);
}
.cl-secondary{
  color: var(--cl-secondary);
}
.bg-primary{
  background-color: var(--cl-primary) !important;
}
.bg-secondary{
  background-color: var(--cl-secondary) !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid var(--cl-secondary) !important;
}

.active{
  position: relative;
  transform: translateX(-0.6rem);
  margin-bottom: 1rem;
  scale: 0.5;
}
.active::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: -0.1rem;
  border-radius: 10px;
  background-color: var(--cl-secondary);
}